################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v16
/HelloWorld/obj/Debug
